#login{
    width: 68%;
    height:520px;
    margin: auto;
   
    font-family: 'Nunito Sans', sans-serif;
}
#login>p{
    font-size: 30px;
    margin-bottom: 10px;
}
.a_under{
   text-decoration: none;
}
#login_options{
    width: 100%;
    display: grid;
    gap: .5%;
  
    grid-template: "login imgbox";
                      

}
#login_options>div:nth-child(1){
    background: rgba(249,249,249,255);
    padding: 6%;
    padding-top: 7%;
    width:89.2%;
    height:450px;
    border: 1px solid lightgrey;
    display: flex;
    flex-flow: column;
   grid-area: login;
}
#limgbox{
    display: grid;
    grid-template: "img1 img1"
                    "img2 img3";
    grid-area: imgbox;
    gap: 0.7%;
    padding: 1%;
    border: 1px solid lightgrey;
}
#login_options input[type=email],input[type=password]{
    width: 98%;
    height: 25px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#login_options input[type=submit]{
    margin-top: 15%;
    width: 100%;
    height: 30px;
    border: 1px solid rgba(64,105,255,255);;
    border-radius: 5px;
    background: rgba(64,105,255,255);
    color: white;
}
#login_options>div>form>a>p{
    margin-top: 18px;
    font-size: 13px;
    color: black;
}
#login_options>div>a{
    color: rgb(0, 89, 255);
    text-align: center;
}
#limg1{
    grid-area: img1;

    height: 270px;
    margin-bottom: 3.5%;
}
#limg2{
    grid-area: img2;

}
#limg3{
    grid-area: img3;

}

#login #bottom{
    margin-top: 22px;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 89, 255);
}
#login_options>div input[type="checkbox"]+label{
  cursor: pointer;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
    #login_options{
        grid-template: "login"
                      "imgbox";
    }
  
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #login_options{
        grid-template: "login"
                      "imgbox";
    }
} 